/* ========================================================================== */
/* CUSTOM CSS */
/* ========================================================================== */



html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.body-normal{
  height: 0;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #154771;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #154771;
    }
}
/*Intro*/

.view {
    background: url("../img/awal.JPG")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 15%;
    padding-bottom: 3rem;
    color: #fff
}

.description-list{
  padding-top: 7%;
}

.thead-inverse th {
    color: #fff;
    background-color: #072e6e;
}

.search{
  border-bottom: none !important;
  box-shadow: none !important;
}

.card-wrapper .card-up {
    overflow: hidden;
    height: 35%;
}

.card-wrapper {
    margin: 0.5rem 0 1rem 0;
    height: 350px;
    position: relative;
    perspective: 800px;
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

/*Footer*/
@media (max-width: 768px) {
    .flex-center {
        align-items: center;
    }
}
@media (max-width: 1200px) {
    .flex-center {
        align-items: left;
    }
}
footer.page-footer {
    background-color: #275C88;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#ccc;
  table-layout: fixed;
  width: 877px
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
}
.tg .tg-y2tu{
  font-weight:bold;
  text-decoration:underline;
  vertical-align:top;
}
.tg .tg-hgcj{
  font-weight:bold;
  text-align:center
}
.tg .tg-amwm{
  font-weight:bold;
  text-align:center;
  vertical-align:top
}
.tg .tg-yw4l{
  vertical-align:top
}
.tg .tg-9hbo{
  font-weight:bold;
  vertical-align:top
}
